[Unit]
Description=Viktorina Bot
After=network.target

[Service]
User=igor
Group=igor

WorkingDirectory=/home/igor2
Environment="PYTHONPATH=/home/igor2"
ExecStart=/home/igor2/Viktorina/bin/python /home/igor2/Viktorina/ViktorinaBot.py

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

# sudo cp /home/igor2/Viktorina/vkBotViktorina.service /etc/systemd/system/vkBotViktorina.service
